.main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.media-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 130px;
    height: 180px;
    overflow: hidden;
}

.media-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.media-card .media-rating {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1/1;
    width: 25px;
    height: 25px;
    font-size: 1.3rem;
    color: black;
    background-color: rgb(255, 238, 0);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 0 0;
}

.media-card-link {
    display: inline-block;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    overflow-x: auto;
}

.cast-card {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
}

.cast-card img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.cast-card span {
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

.search-container {
    padding: unset;
    display: grid;
    grid-template-columns: repeat(auto-fit, 135px);
    gap: 10px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.media-banner {
    display: grid;
    grid-template-areas: 
        "poster title"
        "poster controls";
    grid-template-columns: auto 1fr;
    gap: 0 2%;
}

.media-title {
    grid-area: title;
    display: flex;
    align-items: last baseline;;
}

.media-banner > img {
    grid-area: poster;
    width: 200px;
}

.media-controls {
    grid-area: controls;
    display: flex;
    height: 40px;
}

.media-controls button {
    background-color: unset;
    border: unset;
    height: 100%;
    width: fit-content;
}

.media-controls button>img {
    height: 100%;

}

.release-date {
    color:#3f3f3f;
    padding-left: 10px;
}

.rating-wrapper {
    position: relative;
    display: inline-block;
}

.rating-button {
    position: relative;
    border: unset;
    background-color: unset ;
    font-weight: bold;
}

#rating-button-contents {
    display: flex;
    flex-direction: row;
}

.rating-button .no-rating-img{
    width: 60px;
}

.rating-button .rating-img {
    width: 50px;
}

.rating-button .score {
    position: absolute;
    top: 8px;
    left:47%; /* accounts the irregular shape of parent */
    transform: translateX(-50%);
}

.rate-message {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 1rem;
    padding-left: 5px;
}

.secondary-message {
    font-size: smaller;
    font-weight: 100;
}

.rating-container {
  display: unset;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;    
  background-color: gray;
  height: 30px;
  align-items: center;
  margin-top: 11px;
  padding: 0 5px;
  gap: 0 5px;
}

.rating-container .arrow {
    position: absolute;
    left: 14px;
    top: -10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid gray;
}

.rating-container.hidden {
    display: none;
}

.rating-container input {
  display: none;
}

.rating-container label {
  width: 28px;
  height: 28px;
  float: right;
  cursor: pointer;
  color: #ccc;
  background-image: url('/assets/popcorn.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  color: black;
  transition: opacity 0.2s ease;
}


/* .rating-container label:before {
  content: '\2605';
  font-size: 30px;
} */

.rating-container input:checked ~ label,
.rating-container label:hover,
.rating-container label:hover ~ label {
  /* color: #6f00ff; */
  opacity: 1;
}


.placeholder-poster {
    width: 130px;
    height: 180px;
    background-color: gray;
}

.season-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season-card .episode-num {
    font-size: smaller;
}

.season-card img {
    width: 130px;
    height: 180px;
}

.flip-horizontal {
  transform: scaleX(-1);
}