@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using TvTracker.Models.View
@model Shows.ShowsModel
@Html.AntiForgeryToken()
@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Shows";
}

<div class="main-container">

    <div>
        <input name="searchQuery" type="text" id="searchBox">
    </div>

    <ul class="search-container"  id="search-results"></ul>


        <div class="user-media-container" id="user-media-content">
        <partial name="_MediaCardsSection" 
         model="@(new MediaCardsSectionView("Watch Later","/Shows/Details", Model.WatchList))" 
        />

        <partial name="_MediaCardsSection" 
         model="@(new MediaCardsSectionView("History","/Shows/Details",Model.AlreadyWatch))" 
        />
        </div>
</div>

<script type="module">
    import { searchMediaOnInput } from '/js/search.js';
    searchMediaOnInput("searchBox", "search-results", "?handler=Search","/Shows/Details","user-media-content");
</script>
