@page "{tmdbId:int}"
@using TvTracker.Models.Enums
@using TvTracker.Models.View
@model Movies.DetailsModel
@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
}
<div class="main-content">

    @if(Model.MovieView != null) {
        <partial name="_MediaBanner" model="@(new MediaView
        (
            Model.MovieView.TmdbId,
            MediaType.Movie,
            Model.MovieView.Title,
            Model.MovieView.PosterUrl,
            Model.MovieView.ReleaseDate,
            Model.UserMediaInfo?.Rating,
            Model.UserMediaInfo?.Status,
            Model.UserMediaInfo?.WatchDate
        ))" 
        />
    }   

    <div class="cast-container">
        <h3>Cast</h3>

        <div class="cards-container">  
            @foreach(var member in Model.MovieView?.Cast) {
                <div class="cast-card">
                    @if(member.PosterPath != null) {
                        <img src=@member.PosterPath/>
                        
                    } else {
                        <div class="placeholder-poster"></div>
                    }
                    <span>@member.CharacterName</span>
                    <span>@member.ActorName</span>
                </div>
            }
        </div>

    </div>

</div>

@section Scripts {
    <script type="module">
        import {initMediaControls} from '/js/initMediaControls.js';
        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        initMediaControls(token);
    </script>
}