
.text-center {
    padding-bottom: 2vh;
}

.profile-container { 
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
}


.profile,
.new-profile{
    border: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    width: 10vw;
    height: 10vw;
    background-color: unset;
}

.new-profile {
    border: 1px rgb(0, 102, 255) solid;
    font-size: larger;
}

.new-profile:hover {
    color: white;
    background-color: rgb(0, 102, 255);
    text-decoration: unset;
}

.profile > img {
    width: 100%;
}

@media (max-width: 768px) {
    .profile-container{
        flex-direction: column;
        align-items: center;
    }
}