@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="main-container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <span>Please choose a profile.</span>
    </div>
    <div class="profile-container">
        @foreach(var profile in Model.Profiles)
        {
                <form method="post" asp-page-handler="Select">
                    <input type="hidden" name="profileId" value="@profile.Id" />
                    <button type="submit" class="profile">
                        <img class="profileSelectionImage" src=@profile.AvatarPath />
                    </button>
                </form>
        }
        @if (Model.Profiles.Count < 4){

            <a class="new-profile asp-page="/Profiles/Manage">
                New Profile
            </a>
        }
    </div>
</div>