@page
@model Home.HomeModel
@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
}

<div class="main-container">

    <div>
        <input type="text">
    </div>

    <h3>Recently Watched</h3>

    <div class="recently-watched-container">
            @foreach(var um in Model.UserMovies) 
            {
                <div class="media-card">
                    @if(@um.Movie.MediaInfo.PosterPath != null) {
                        <img src="@Url.Content($"~/{@um.Movie.MediaInfo.PosterPath}")" alt="@um.Movie.MediaInfo.Title" />
                    }
                    <span class="media-rating">
                        @um.Rating
                    </span>
                </div>
            }
    </div>
</div>